@import 'tailwindcss';

* {
    scroll-behavior: smooth;
}

body {
    background: #010103;
    font-family: 'General Sans', sans-serif;
}

@layer utilities {
    .c-space {
        @apply sm:px-10 px-5;
    }

    .tool-tip {
        @apply absolute top-full left-1/2 -translate-x-1/2 scale-0 group-hover:scale-100 transition-transform duration-200 bg-gray-800 text-white text-xs px-2 py-1 mt-1 rounded z-10 whitespace-nowrap;
    }

    .head-text {
        @apply sm:text-4xl text-3xl font-semibold text-white;
    }

    .nav-ul {
        @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-40;
    }

    .nav-li {
        @apply text-neutral-400 hover:text-white hover:bg-black-500 sm:hover:bg-transparent sm:w-full sm:rounded-md py-2 sm:px-5;
    }

    .nav-li_a {
        @apply text-lg md:text-base hover:text-white transition-colors;
    }

    .nav-li-underline {
        @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-white transition-all duration-300 group-hover:w-full;
    }

    .nav-sidebar {
        @apply absolute left-0 right-0 bg-black-200 backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
    }

    /* button component */
    .btn {
        @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md bg-black-300 transition-all active:scale-95 text-white mx-auto;
    }

    .btn-ping {
        @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
    }

    .btn-ping_dot {
        @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
    }

    /* hero section */
    .hero_tag {
        @apply text-center xl:text-6xl md:text-5xl sm:text-4xl text-3xl font-generalsans font-black !leading-normal;
    }

    .hero-layout {
        @apply relative z-10 xl:mt-20 mt-32 md:h-dvh h-[80vh] flex xl:items-center items-start justify-center;
    }

    .hero-text {
        @apply flex flex-col justify-center md:text-[30px] text-[12px] font-semibold text-white relative z-10 pointer-events-none left-5 top-5 md:left-10 md:top-10;

        img {
            @apply size-4 md:size-8 object-contain;
        }

        .slide {
            @apply absolute pt-0 px-2 md:px-5 py-[30px] h-[30px] md:h-[50px] md:translate-y-1 translate-y-0 overflow-hidden;
        }
    }

    .slide {
        display: inline-block;
        transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        /*animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);*/
    }

    @keyframes wordSlider {
        0% {
            transform: translateY(0%);
        }
        12.5% {
            transform: translateY(-12.5%);
        }
        25% {
            transform: translateY(-25%);
        }
        37.5% {
            transform: translateY(-37.5%);
        }
        50% {
            transform: translateY(-50%);
        }
        62.5% {
            transform: translateY(-62.5%);
        }
        75% {
            transform: translateY(-75%);
        }
        87.5% {
            transform: translateY(-87.5%);
        }
    }

    /* about section */
    .grid-container {
        @apply w-full h-full border border-black-300 bg-black-200 rounded-3xl sm:p-7 p-4 flex flex-col gap-5;
    }

    .grid-headtext {
        @apply text-xl font-semibold mb-2 text-white font-generalsans;
    }

    .grid-subtext {
        @apply text-[#afb0b6] text-base font-generalsans;
    }

    .copy-container {
        @apply cursor-pointer flex justify-center items-center gap-2;
    }

    /* projects section  */
    .projects-container {
        @apply grid lg:grid-cols-2 grid-cols-1 gap-5 mt-12;
    }

    .tech-logo {
        @apply w-14 h-14 rounded-md p-2 bg-neutral-800  backdrop-filter backdrop-blur-lg flex justify-center items-center;
    }

    /*  work experience section */
    .work-container {
        @apply grid lg:grid-cols-3 grid-cols-1 gap-5 mt-12;
    }

    .work-canvas {
        @apply col-span-1 rounded-3xl bg-black-200 border border-black-300;
    }

    .work-content {
        @apply col-span-2 rounded-lg bg-black-200 border border-black-300;
    }

    .work-content_container {
        @apply grid grid-cols-[auto_1fr] items-start gap-5  transition-all ease-in-out duration-500 cursor-pointer hover:bg-black-300 rounded-lg sm:px-5 px-2.5;
    }

    .work-content_logo {
        @apply rounded-3xl w-16 h-16 p-2 bg-black-600;
    }

    .work-content_bar {
        @apply flex-1 w-0.5 mt-4 h-full bg-black-300 group-hover:bg-black-500 group-last:hidden;
    }

    /* contact section */
    .contact-container {
        @apply w-full h-full border border-black-300 bg-black-200 rounded-lg relative z-10 sm:px-10 p-5 mt-12;
    }

    .field-label {
        @apply text-lg text-white-600;
    }

    .field-input {
        @apply w-full bg-black-300 px-5 py-2 min-h-14 rounded-lg placeholder:text-white-500 text-lg text-white-800 shadow-black-200 shadow-2xl focus:outline-none;
    }

    .field-btn {
        @apply bg-black-500 px-5 py-2 min-h-12 rounded-lg shadow-black-200 shadow-2xl flex justify-center items-center text-lg text-white gap-3;
    }

    .field-btn_arrow {
        @apply w-6 h-6 object-contain invert brightness-0;
    }

    /*  footer */
    .social-icon {
        @apply w-12 h-12 rounded-full flex justify-center items-center bg-black-300 border border-black-200;
    }
}

@theme {
    --font-generalsans: 'General Sans', sans-serif;

    --breakpoint-3xl: 120rem;
    --breakpoint-4xl: 144rem;

    --color-black: #000000;
    --color-black-50: #1c1c21;
    --color-black-100: #010103;
    --color-black-200: #0E0E10;
    --color-black-300: #1C1C21;
    --color-black-500: #3A3A49;
    --color-black-600: #1A1A1A;

    --color-white: #FFFFFF;
    --color-white-50: #d9ecff;
    --color-white-500: #62646C;
    --color-white-600: #AFB0B6;
    --color-white-700: #D6D9E9;
    --color-white-800: #E4E4E6;

    --animate-wave: wave 1.5s ease-in-out infinite;

    @keyframes wave {
        0%, 70%, 100% {
            transform: rotate(0deg);
        }

        15%, 40% {
            transform: rotate(14deg);
        }

        30% {
            transform: rotate(-8deg);
        }

        50% {
            transform: rotate(-4deg);
        }

        60% {
            transform: rotate(10deg);
        }
    }
}