@import url('https://fonts.cdnfonts.com/css/general-sans');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

body {
    background: #010103;
    font-family: 'General Sans', sans-serif;
}

@layer utilities {
    .c-space {
        @apply sm:px-10 px-5;
    }

    .tool-tip {
        @apply absolute top-full left-1/2 -translate-x-1/2 scale-0 group-hover:scale-100 transition-transform duration-200 bg-gray-800 text-white text-xs px-2 py-1 mt-1 rounded z-10 whitespace-nowrap;
    }

    .head-text {
        @apply sm:text-4xl text-3xl font-semibold text-gray_gradient;
    }

    .nav-ul {
        @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-40;
    }

    .nav-li {
        @apply text-neutral-400 hover:text-white font-generalsans max-sm:hover:bg-black-500 max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
    }

    .nav-li_a {
        @apply text-lg md:text-base hover:text-white transition-colors;
    }

    .nav-li-underline {
        @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-white transition-all duration-300 group-hover:w-full;
    }

    .nav-sidebar {
        @apply absolute left-0 right-0 bg-black-200 backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
    }

    .text-gray_gradient {
        @apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
    }

    /* button component */
    .btn {
        @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md bg-black-300 transition-all active:scale-95 text-white mx-auto;
    }

    .btn-ping {
        @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
    }

    .btn-ping_dot {
        @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
    }

    /* hero section */
    .hero_tag {
        @apply text-center xl:text-6xl md:text-5xl sm:text-4xl text-3xl font-generalsans font-black !leading-normal;
    }

    .hero-layout {
        @apply relative z-10 xl:mt-20 mt-32 md:h-dvh h-[80vh] flex xl:items-center items-start justify-center;
    }

    .hero-text {
        @apply flex flex-col justify-center md:text-[30px] text-[12px] font-semibold text-white relative z-10 pointer-events-none left-5 top-5 md:left-10 md:top-10;

        img {
            @apply size-4 md:size-8 object-contain;
        }

        .slide {
            @apply absolute pt-0 px-2 md:px-5 py-[30px] h-[30px] md:h-[50px] md:translate-y-1 translate-y-0 overflow-hidden;
        }
    }

    .slide {
        display: inline-block;
        transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        /*animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);*/
    }

    @keyframes wordSlider {
        0% {
            transform: translateY(0%);
        }
        12.5% {
            transform: translateY(-12.5%);
        }
        25% {
            transform: translateY(-25%);
        }
        37.5% {
            transform: translateY(-37.5%);
        }
        50% {
            transform: translateY(-50%);
        }
        62.5% {
            transform: translateY(-62.5%);
        }
        75% {
            transform: translateY(-75%);
        }
        87.5% {
            transform: translateY(-87.5%);
        }
    }

    /* about section */
    .grid-container {
        @apply w-full h-full border border-black-300 bg-black-200 rounded-3xl sm:p-7 p-4 flex flex-col gap-5;
    }

    .grid-headtext {
        @apply text-xl font-semibold mb-2 text-white font-generalsans;
    }

    .grid-subtext {
        @apply text-[#afb0b6] text-base font-generalsans;
    }

    .copy-container {
        @apply cursor-pointer flex justify-center items-center gap-2;
    }

    /* projects section  */
    .projects-container {
        @apply grid lg:grid-cols-2 grid-cols-1 gap-5 mt-12;
    }

    .arrow-btn {
        @apply p-3 cursor-pointer active:scale-95 transition-all rounded-full arrow-gradient;
    }

    .tech-logo {
        @apply w-14 h-14 rounded-md p-2 bg-neutral-100 bg-opacity-10 backdrop-filter backdrop-blur-lg flex justify-center items-center;
    }

    /*  work experience section */
    .work-container {
        @apply grid lg:grid-cols-3 grid-cols-1 gap-5 mt-12;
    }

    .work-canvas {
        @apply col-span-1 rounded-3xl bg-black-200 border border-black-300;
    }

    .work-content {
        @apply col-span-2 rounded-lg bg-black-200 border border-black-300;
    }

    .work-content_container {
        @apply grid grid-cols-[auto_1fr] items-start gap-5  transition-all ease-in-out duration-500 cursor-pointer hover:bg-black-300 rounded-lg sm:px-5 px-2.5;
    }

    .work-content_logo {
        @apply rounded-3xl w-16 h-16 p-2 bg-black-600;
    }

    .work-content_bar {
        @apply flex-1 w-0.5 mt-4 h-full bg-black-300 group-hover:bg-black-500 group-last:hidden;
    }

    /* contact section */
    .contact-container {
        @apply w-full h-full border border-black-300 bg-black-200 rounded-lg relative z-10 sm:px-10 p-5 mt-12;
    }

    .field-label {
        @apply text-lg text-white-600;
    }

    .field-input {
        @apply w-full bg-black-300 px-5 py-2 min-h-14 rounded-lg placeholder:text-white-500 text-lg text-white-800 shadow-black-200 shadow-2xl focus:outline-none;
    }

    .field-btn {
        @apply bg-black-500 px-5 py-2 min-h-12 rounded-lg shadow-black-200 shadow-2xl flex justify-center items-center text-lg text-white gap-3;
    }

    .field-btn_arrow {
        @apply w-6 h-6 object-contain invert brightness-0;
    }

    /*  footer */
    .social-icon {
        @apply w-12 h-12 rounded-full flex justify-center items-center bg-black-300 border border-black-200;
    }
}

.arrow-gradient {
    background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.1) 10%,
            rgba(255, 255, 255, 0.000025) 50%,
            rgba(255, 255, 255, 0.000025) 50%,
            rgba(255, 255, 255, 0.025) 100%
    );
}

.gradient-line {
    width: 2px;
    background: linear-gradient(
        0deg,
        rgba(69, 222, 196, 0) 0%,
        #62e0ff 25%,
        #52aeff 37.51%,
        #fd5c79 62.83%,
        #6d45ce 92.91%
    );
}